<div class="recommendations-container">
  <h2>🎥 Résultats</h2>

  <% @movies.each do |movie| %>
    <div class="movie-card">
      <% if movie["poster_url"] %>
        <img src="<%= movie["poster_url"] %>" alt="<%= movie["title"] %>" class="movie-poster">
      <% end %>

      <div class="movie-info">
        <h3><%= movie["title"] %></h3>
        <p><strong>Année :</strong> <%= movie["year"] %></p>
        <p><strong>Genre :</strong> <%= movie["genre"] %></p>
        <p class="summary"><%= movie["summary"] %></p>
      </div>
    </div>
  <% end %>

  <%= link_to "Nouvelle recherche", new_recommendation_path, class: "back-button" %>

</div>
