<div class="popcorn-wrapper">

  <h1 class="popcorn-title">Mes films</h1>

  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie), class: "popcorn-card-link" do %>
      <div class="popcorn-card">

        <div class="popcorn-poster">
          <%= image_tag movie.poster_url, alt: movie.title %>
        </div>

        <div class="popcorn-info">
          <h2><%= movie.title %></h2>

          <div class="popcorn-meta">
            ⭐ <%= movie.rating || "—" %>/10
            <span class="popcorn-year">🎞️ <%= movie.year || "?" %></span>
          </div>

          <p class="popcorn-description">
            <%= movie.synopsis %>
          </p>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
